VITE_API_BASE_URL=http://localhost:8080/api
VITE_FIREBASE_API_KEY=AIzaSyB77moPBMUnvnEJks5Y3qR7SA0K3R44eN0
VITE_FIREBASE_AUTH_DOMAIN=ofrehberi-93567.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ofrehberi-93567
VITE_FIREBASE_STORAGE_BUCKET=ofrehberi-93567.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=353666018217
VITE_FIREBASE_APP_ID=1:353666018217:web:421d41fd0908d9cb9032b8
